<%- include("header") -%>

<form action="/home" method="post">
  <button class="btn3" name="homebtn">Home</button>
</form>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="namebox">
      <p>Hello <%= userName %>&#128522;</p>
    </div>
  
  <div class="box">
    <%  newListItems.forEach(function(item){ %>

        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
            <p><%=item.name%></p>
          </div>
          <input type="hidden" name="listName" value="<%= listTitle %>"></input>
        </form>
      <%  }) %>
  

       <form class="item" action="/checklist" method="post">
        <input type="text" name="newItem" placeholder="New Book" autocomplete="off">  
        <button class="btn1" type="submit" name="list" value=<%= listTitle %>>+</button>     
        </form>
  </div>  


 
  <%- include("footer") -%>